/****************************** Custom styles rewrite */

.logo-header .brand {
  background-image: url(../img/i4trust-nocheaper/NoCheaper.png);
  width: 150px;
  background-size: 150px 37px;
}

.logo-header {
    float: left;
}

.brand-text {
    font-family: "NeoTechRegular";
    height: 37px;
    float: left;
    padding: 9px 0;
    font-size: 1.1em;
    color: #FF2929;
}

.presentation {
	.media {
		height: auto;
		footer {
			margin-top: 15px;
		}
	}
}
